<div class="main user-show">
  <div class="container">
     <div class="user">
      <img src="<%="/user_images/#{@user.image_name}" %>" alt="サンプル" width="100" height="100">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
      <%= link_to("編集","/users/#{@user.id}/edit") %>
      <%= link_to("削除","/users/#{@user.id}/destroy", {method: "post"}) %>
      <% end %>
    </div>
    
    <div class="figure-sum-posts">
      <p>投稿数合計<%= @user.posts.count %>冊</p>
    </div>
   
    
    <ul class="user-tabs">
      <li><%= link_to("投稿","/users/#{@user.id}") %></li>
      <li><%= link_to("いいね！","/users/#{@user.id}/likes") %></li> 
      <li class="active"><%= link_to("私のアクションプラン","/users/#{@user.id}/actionplan") %></li>
    </ul>
   
      
    <% @user.posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <%= link_to(post.content,"/posts/#{post.id}") %>
        <br>
        <%= link_to(post.actionplan,"/posts/#{post.id}") %>
      </div>
    </div>
    <% end %>
    
  </div>
</div>