<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <!-- エラーメッセージを表示 -->
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <!-- フォームの送信先を指定 -->
        <%= form_for(@user, url: user_path(@user)) do |f| %>
          <%= f.label :ユーザー名 %><br>
          <%= f.text_field :name, class: 'form-controll' %><br>
          <%= f.label :ユーザー画像 %><br>
          <%= f.file_field :image_name, class: 'form-controll' %><br>
          <%= f.label :メールアドレス %><br>
          <%= f.text_field :email, class: 'form-controll' %><br>
          <%= f.submit '更新する', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>