<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <% end %>
        
        
        <%= form_for(@user, url: users_path(@user)) do |f| %>
          <%= f.label :ユーザー名 %><br>
          <%= f.text_field :name, class: 'form-controll' %><br>
          <%= f.label :ユーザー画像 %><br>
          <%= f.file_field :image_name, class: 'form-controll' %><br>
          <%= f.label :メールアドレス %><br>
          <%= f.text_field :email, class: 'form-controll' %><br>
          <%= f.label :パスワード %><br>
          <%= f.password_field :password, class: 'form-controll' %><br>
          <%= f.submit '新規登録する', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>