<div class="main posts-index">
  <div class="container">
      
      <!-- 検索拡張機能 -->
    <p>検索</p>
      <%= form_tag("/posts/index", method: :get) do %>
          <%= text_field_tag :search, params[:search] %><br>
          <%= submit_tag 'Search', :name => nil %>
      <% end %>
      
     <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      <% @posts.each do |post| %>
        <div class="posts-index-item">
            
       
            <div class="post-left">
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
              <div class="post-user-name-index">
              <%= link_to(post.user.name,"/users/#{post.user.id}") %><br>
            </div>
          </div>
          
          <div class="post-right">
            
           
        
            
          
           <div class="title-container">
             
             <div class="post-image">
               <p>表紙画像</p>
               <img src="<%="/post_images/#{post.post_image}" %>"  alt="サンプル" width="200" height="200" rotate="90">
             </div>
             
             <h2>タイトル</h2>
            <div class="book-title-index">
              <%= link_to(post.content, "/posts/#{post.id}") %><br>
            </div>
           </div>
              
            <div class="heading-container">
               <h3>一言要約</h3>
              <div class="book-heading-index">
               <%= post.content2 %>
              </div>
            </div>
             
          </div>
        </div>
      <% end %>
     <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </div>
</div>
