<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= nested_form_for @post do |f| %>
    <div class="form">
      <div class="form-body">
        <%= f.label :content, 'タイトル' %><br>
        <%= f.text_field :content, class: 'form-controll' %>
        
        <div class="post-image-form">
            <h3>表紙画像</h3><br>
            <%= f.file_field :post_image %>
        </div>
        
        
        <%= f.label :content2, '一言要約' %><br>
        <%= f.text_field :content2, class: 'form-controll' %>
         
         
         <div class="point-heading">
            <h2><要点整理></h2>
         </div>
         
       
         <!--Create Point-->
         <%= nested_form_for @post do |f| %>
             <p>Point</p>
             <%= f.fields_for :points do |f| %>
                 <%= f.text_area :content6, class: 'form-controll' %>
                 <%= f.link_to_remove "Delete Point" %>
             <% end %>
                 <%= f.link_to_add "Create Point", :points, class: 'btn btn-primary'%>
         <% end %>
         
         <div class="post-image-form">
            <h3>図、ドキュメントなど</h3><br>
            <%= f.file_field :post_document_image, class: 'form-controll' %>
        </div>
         
         <%= f.label :review, 'レビュー' %><br>
         <%= f.text_area :review, class: 'form-controll' %>
         
         <%= f.label :actionplan, 'アクションプラン' %><br>
         <%= f.text_area :actionplan, class: 'form-controll' %>
         
          
        <%= f.submit '投稿する', class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>