<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
        <h1>タイトル</h1> 
        <input name="content">
        
        <h2>一言要約</h2>
         <textarea name="content2"><%= @post.content2 %></textarea>
         
         <div class="point-heading">
            <h2><要点整理></h2>
         </div>
         
          <p>Point1</p>
         <textarea name="content3"><%= @post.content3 %></textarea>
         
           <p>Point2</p>
         <textarea name="content4"><%= @post.content4 %></textarea>
         
           <p>Point3</p>
         <textarea name="content5"><%= @post.content5 %></textarea>
         
           <h3>レビュー</h3>
         <textarea name="review"><%= @post.review %></textarea>
         
           <h3>私のアクションプラン</h3>
         <textarea name="actionplan"><%= @post.actionplan %></textarea>
         
          
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>