<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      
       <div class="post-left">
        <% if @post.user.image_name? %>
         <%= image_tag @post.user.image_name.url %>
        <% else %>
         <%= image_tag "/user_images/default_user.jpg" %>
        <% end %>
        <div class="post-user-name-index">
            <%= link_to(@post.user.name,"/users/#{@post.user.id}") %><br>
        </div>
        </div>
      
    <div class="title-container">
      <h1>タイトル</h1>
     <div class="book-title-show">
          『<%= @post.content %>』<br>
     </div>
    </div>
    
    
        <p>表紙画像</p>
        <% if @post.post_image? %>
          <%= image_tag @post.post_image.url %>
        <% else %>
          <%= image_tag "/post_images/default_post.jpg", class: 'sized' %>
        <% end %>
    
         
    <div class="heading-container">
      <h2>一言要約</h2>
     <div class="book-heading-show">
        <%= @post.content2 %>
     </div>
    </div>
     
    <div class="heading-container-point">
     
    
    <% @post.points.each.with_index(1) do |point, i| %>
        <h3>Point<%= i %></h3>
        <%= simple_format(point.content6) %>
    <% end %>
    
    <div class="post-image">
        <h3>図、ドキュメントなど</h3>
        <% if @post.post_document_image? %>
          <%= image_tag @post.post_document_image.url %>
        <% else %>
          <%= "図、ドキュメントなどは空白です。" %>
        <% end %>
    </div>
    
    <div class="heading-container-point">
        <h3>レビュー</h3>
     <div class="book-point-show">
        <%= simple_format(@post.review) %>
     </div>
    </div>
    
    <div class="heading-container-point">
        <h3>私のアクションプラン</h3>
     <div class="book-point-show">
        <%= simple_format(@post.actionplan) %>
     </div>
    </div>
     
     <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
      
        <%= link_to(post_like_path(@post), {method: "delete"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
        
      <% else %>
      
        <%= link_to(post_likes_path(@post), {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
        
      <% end %>
      
      <%= @likes_count %>
     
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= f.text_field :text %>
          <br>
          <br>
          <%= f.submit "コメントする", class: "btn btn-primary" %>
      <% end %>
      
     </div>
     
     
      <% @comments.each do |comment| %>
      <div class="posts-show-item">
      <p>コメント</p>
      <div class="post-left">
        <% if comment.user.image_name? %>
         <%= image_tag comment.user.image_name.url %>
        <% else %>
         <%= image_tag "/user_images/default_user.jpg" %>
        <% end %>
            <div class="post-user-name-index">
              <%= link_to(comment.user.name,"/users/#{comment.user_id}") %><br>
            </div>
      </div>
      <%= comment.text %>
      <br>
      <br>
      <% if comment.user_id == @current_user.id %>
      <%= link_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
      <% end %>
      </div>
      <% end %>
  
      <% if @post.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("編集", edit_post_path) %>
        <%= link_to("削除", post_path, {method: "delete"}) %>
      </div>
      <% end %>
      
      
    </div>
  </div>
</div>