<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      
       <div class="post-left">
        <img src="<%= "/user_images/#{@post.user.image_name}" %>">
        <div class="post-user-name-index">
            <%= link_to(@post.user.name,"/users/#{@post.user.id}") %><br>
        </div>
        </div>
      
    <div class="title-container">
      <h1>タイトル</h1>
     <div class="book-title-show">
          『<%= @post.content %>』<br>
     </div>
    </div>
    
     <div class="post-image">
        <p>画像</p>
        <img src="<%="/post_images/#{@post.post_image}"%>" alt="サンプル" width="200" height="200" rotate="90">
    </div>
         
    <div class="heading-container">
      <h2>一言要約</h2>
     <div class="book-heading-show">
        <%= @post.content2 %>
     </div>
    </div>
     
    <div class="heading-container-point">
      <p>Point1</p>
     <div class="book-point-show">
        <%= simple_format(@post.content3) %>
     </div>
    </div>
     
    <div class="heading-container-point">
       <p>Point2</p>
     <div class="book-point-show">
        <%= simple_format(@post.content4) %>
     </div>
    </div>
     
    <div class="heading-container-point">
        <p>Point3</p>
     <div class="book-point-show">
        <%= simple_format(@post.content5) %>
     </div>
    </div>
    
    <div class="heading-container-point">
        <h3>レビュー</h3>
     <div class="book-point-show">
        <%= simple_format(@post.review) %>
     </div>
    </div>
    
    <div class="heading-container-point">
        <h3>私のアクションプラン</h3>
     <div class="book-point-show">
        <%= simple_format(@post.actionplan) %>
     </div>
    </div>
     
     <% if Like.find_by(user_id:@current_user.id, post_id:@post.id) %>
      
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
        
      <% else %>
      
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
        
      <% end %>
      
      <%= @likes_count %>
     
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      
      
      
      
      
     </div>
     
     
     
     
      
      
      
      <% if @post.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("編集","/posts/#{@post.id}/edit") %>
        <%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %>
      </div>
      <% end %>
      
      
    </div>
  </div>
</div>